<div class="whole-page secondary-background primary">
  <div class="initial-title hidden">
    <div class="initial-block">
      <h1 class="initial-title-name underline pink">Alek Pialucha</h1>
      <h4 class="initial-title-subtitle">Portfolio</h4>
    </div>
  </div>
  <div class="main-page">
    <div class="toggle-block">
      <p id="light" class="text-toggle">LIGHT</p>
      <p class="text-toggle">|</p>
      <p id="dark" class="text-toggle current-toggle">DARK</p>
    </div>
    <div class="main-page-container primary-border">
      <div class="banner">
        <div class="name-container">
          <h1 class="main-page-name pink">Alek Pialucha</h1>
          <h4 class="main-page-subtitle">Full Stack Developer</h4>
        </div>
        <div class="banner-links">
          <a class="primary underline" href="mailto: pialuchaa@btinternet.com">Contact</a>
          <br>
          <p id="openModal" class="underline">Full CV</p>

          <!-- The Modal -->
          <div id="modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <iframe src="https://drive.google.com/file/d/1iX1cFrJANnbQzTfdSIpfaJDG5psSymF6/preview" width="100%" height="100%" allow="autoplay"></iframe>
            </div>

          </div>


        </div>
      </div>
      <div class="bio">
        <h2>BIO</h2>
        <p>Previously working in architecture, pivoting into the tech industry, leveraging a strong foundation in design and problem-solving. Thriving under strict deadlines and driven by client-specific requests, I have honed my ability to deliver exceptional results while maintaining a strong attention to detail. Passionate about coding, I started on a self-taught journey and recently completed a 9 week intensive coding bootcamp to further enhance my technical skills.</p>
      </div>
    </div>
    <div class="projects-container primary-border">
      <h2>PROJECTS</h2>
      <div class="project-card">
        <div class="card-title primary-border">
          <h3 class="underline">BarHop</h3>
          <h6>Le Wagon, 2023</h6>
        </div>
        <div class="more-info hidden">
          <p>BarHop is an innovative website project that effortlessly generates curated user bar crawls based on your input parameters, revolutionizing the organization process and opening doors to exciting new bar discoveries with your friends. By simply providing your preferred location, venue type, price range, and desired number of stops, BarHop will craft a personalized bar crawl itinerary tailored exclusively to your specifications. Within the website, you can also save your favourite bar crawls and specific bars discovered through the app, ensuring easy access to your nearest hotspots.</p>
          <div class="project-images-container">
            <%= image_tag "barhop/homepage.jpg", class:"project-image" %>
            <%= image_tag "barhop/indexpage.jpg" %>
            <%= image_tag "barhop/generate_route.jpg" %>
            <%= image_tag "barhop/routes.jpg" %>
          </div>
        </div>
      </div>
      <div class="project-card">
        <div class="card-title primary-border">
          <h3 class="underline">Render</h3>
          <h6>Le Wagon, 2023</h6>
        </div>
        <div class="more-info hidden">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus accusamus eos reiciendis quisquam eligendi quae, numquam necessitatibus harum eius iste quam velit animi eveniet aspernatur ducimus repudiandae ratione sapiente est.</p>
          <div class="project-images-container">
            <%= image_tag "barhop/homepage.jpg", class:"project-image" %>
            <%= image_tag "barhop/indexpage.jpg" %>
            <%= image_tag "barhop/generate_route.jpg" %>
            <%= image_tag "barhop/routes.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
