<div class="whole-page secondary-background primary">
  <div class="initial-title">
    <div class="initial-block">
      <h1 class="initial-title-name underline pink">Alek Pialucha</h1>
      <h4 class="initial-title-subtitle">Portfolio</h4>
    </div>
  </div>
  <div class="all-content hidden">
    <div class="main-page">
      <div class="toggle-block">
        <p id="light" class="text-toggle">LIGHT</p>
        <p class="text-toggle">|</p>
        <p id="dark" class="text-toggle current-toggle">DARK</p>
      </div>
      <div class="main-page-container primary-border">
        <div class="banner">
          <div class="name-container">
            <h1 class="main-page-name pink">Alek Pialucha</h1>
            <h4 class="main-page-subtitle">Full Stack Developer</h4>
            <p id="openModal" class="underline">View Full CV</p>
            <div class="socials">
              <a href="https://github.com/AlekP141" target="_blank"><i class="icon-md uil uil-github primary pink-hover" style="cursor:pointer"></i></a>
              <a href="https://www.linkedin.com/in/apialucha/" target="_blank"><i class="icon-md uil uil-linkedin primary pink-hover" style="cursor: pointer"></i></a>
            </div>
          </div>
          <div class="banner-links">
            <a class="primary underline" href="mailto: pialuchaa@btinternet.com">Contact</a>
            <br>
            <p id="openModal" class="underline">View Full CV</p>

            <!-- Modal -->
            <div id="modal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <iframe src="https://drive.google.com/file/d/1iX1cFrJANnbQzTfdSIpfaJDG5psSymF6/preview" width="100%" height="100%" allow="autoplay"></iframe>
              </div>
            </div>
          </div>
        </div>
        <ul class="fireflies" id="firefly-container">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <%# <div class="stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div> %>
        <div class="bio-container">
          <div class="bio">
            <h2>BIO</h2>
            <p>Previously working in architecture, pivoting into the tech industry, leveraging a strong foundation in design and problem-solving. Thriving under strict deadlines and driven by client-specific requests, I have honed my ability to deliver exceptional results while maintaining a strong attention to detail. Passionate about coding, I started on a self-taught journey and recently completed a 9 week intensive coding bootcamp to further enhance my technical skills.</p>
          </div>
          <div class="down-arrow"></div>
        </div>
      </div>
      <div class="tech-stack-container">
        <h2>TECH STACK</h2>
        <div class="tech-container">
          <p>Tech I am proficient in:</p>
          <div class="tech-list">
            <a href="https://www.ruby-lang.org/en/" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="40" height="40"/>
            </a>
            <a href="https://rubyonrails.org" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40"/>
            </a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/>
            </a>
            <a href="https://stimulus.hotwired.dev/" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/github/explore/b0f7ffc5ee5bc1b6dfc1bbc4d75dd2587a243c14/topics/stimulus/stimulus.png" alt="stimulus" width="40" height="40"/>
            </a>
            <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/>
            </a>
            <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/>
            </a>
            <a href="https://sass-lang.com" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass" width="40" height="40"/>
            </a>
            <a href="https://vuejs.org/" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vuejs/vuejs-original-wordmark.svg" alt="vuejs" width="40" height="40"/>
            </a>
            <a href="https://getbootstrap.com" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="40" height="40"/>
            </a>
            <a href="https://www.postgresql.org" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40"/>
            </a>
            <a href="https://www.sqlite.org/" target="_blank" rel="noreferrer">
              <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite" width="40" height="40"/>
            </a>
            <a href="https://www.figma.com/" target="_blank" rel="noreferrer">
              <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" width="40" height="40"/>
            </a>
            <a href="https://heroku.com" target="_blank" rel="noreferrer">
              <img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="40" height="40"/>
            </a>
            <a href="https://www.adobe.com/in/products/illustrator.html" target="_blank" rel="noreferrer">
              <img src="https://www.vectorlogo.zone/logos/adobe_illustrator/adobe_illustrator-icon.svg" alt="illustrator" width="40" height="40"/>
            </a>
            <a href="https://www.photoshop.com/en" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/photoshop/photoshop-line.svg" alt="photoshop" width="40" height="40"/>
            </a>
          </div>
          <p>Tech I am currently learning:</p>
          <div class="tech-list">
            <a href="https://reactjs.org/" target="_blank" rel="noreferrer">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="40" height="40"/>
            </a>
          </div>
        </div>
      </div>
      <div class="projects-container primary-border">
        <h2>PROJECTS</h2>
        <div class="project-card">
          <div class="card-title primary-border">
            <h3 class="underline">BarHop</h3>
            <h6>Le Wagon, 2023</h6>
          </div>
          <div class="more-info hidden">
            <p>BarHop is an innovative website project that effortlessly generates curated user bar crawls based on your input parameters, revolutionizing the organization process and opening doors to exciting new bar discoveries with your friends. By simply providing your preferred location, venue type, price range, and desired number of stops, BarHop will craft a personalized bar crawl itinerary tailored exclusively to your specifications. Within the website, you can also save your favourite bar crawls and specific bars discovered through the app, ensuring easy access to your nearest hotspots.</p>
            <div class="project-images-container">
              <%= image_tag "barhop/homepage.jpg", class:"project-image" %>
              <%= image_tag "barhop/indexpage.jpg", class:"project-image" %>
              <%= image_tag "barhop/generate_route.jpg", class:"project-image" %>
              <%= image_tag "barhop/routes.jpg", class:"project-image" %>
            </div>
            <div class="project-footer">
              <div class="project-links">
                <a href="https://github.com/dyloff/barhop" target="_blank"><i class="icon-md uil uil-github primary pink-hover" style="cursor:pointer"></i></a>
                <a href="https://www.barhop.tech" target="_blank" class="btn-md primary pink-hover primary-border pink-border-hover">Live Website</a>
              </div>
              <div class="project-tech">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/github/explore/b0f7ffc5ee5bc1b6dfc1bbc4d75dd2587a243c14/topics/stimulus/stimulus.png" alt="stimulus" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40"/>
                <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" width="40" height="40"/>
                <img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="40" height="40"/>
              </div>
            </div>
          </div>
        </div>
        <div class="project-card">
          <div class="card-title primary-border">
            <h3 class="underline">Render</h3>
            <h6>Le Wagon, 2023</h6>
          </div>
          <div class="more-info hidden">
            <p>Render provides a unique opportunity to lease luxury artworks for both special occasions and personal enjoyment. The website serves as a gateway for local artists to showcase their masterpieces, allowing them to gain invaluable exposure to galleries and private customers. With its exclusive collection of artworks, Render is a digital platform that seamlessly connects art enthusiasts directly with the artists.</p>
            <div class="project-images-container">
              <%= image_tag "render/home.jpg", class:"project-image" %>
              <%= image_tag "render/index.jpg", class:"project-image" %>
              <%= image_tag "render/show.jpg", class:"project-image" %>
              <%= image_tag "render/profile.jpg", class:"project-image" %>
            </div>
            <div class="project-footer">
              <div class="project-links">
                <a href="https://github.com/AlekP141/Render" target="_blank"><i class="icon-md uil uil-github primary pink-hover" style="cursor:pointer"></i></a>
                <a href="https://render-lw1230.herokuapp.com/" target="_blank" class="btn-md primary pink-hover primary-border pink-border-hover">Live Website</a>
              </div>
              <div class="project-tech">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/github/explore/b0f7ffc5ee5bc1b6dfc1bbc4d75dd2587a243c14/topics/stimulus/stimulus.png" alt="stimulus" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass" width="40" height="40"/>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40"/>
                <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" width="40" height="40"/>
                <img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="40" height="40"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="experience-container primary-border">
        <div class="experience-title">
        <h2>PROFESSIONAL EXPERIENCE</h2>
        <h5 id="experience-toggle" class="underline">Show All</h5>
        </div>
        <div class="all-experience hidden">
          <div class="experience-card">
            <div class="experience-header">
              <div>
                <h3><a class="underline primary" href="https://www.adylic.com/" target="_blank">Adylic <span><h5 style="display: inline-block"> _ Front End Developer Intern</h5></span></a></h3>
              </div>
              <h6>Jan 2023 - Mar 2023</h6>
            </div>
            <ul>
              <li>Optimised front-end code to enhance ad performance and loading speed.</li>
              <li>Implemented responsive code for consistent ad display across various devices, browsers and screen sizes.</li>
              <li>Collaborated closely with designers to clarify any design-related ambiguities and resolve inconsistencies between the design and code implementation.</li>
              <li>Participated in collaborative code reviews as well as quality checking to maintain pixel perfect translation from Figma designs to final ad output.</li>
            </ul>
          </div>

          <div class="experience-card">
            <div class="experience-header">
              <div>
                <h3><a class="underline primary" href="https://grimshaw.global/" target="_blank">Grimshaw <span><h5 style="display: inline-block"> _ Part 2 Architectural Apprentice</h5></span></a></h3>
              </div>
              <h6>Sep 2019 - Dec 2022</h6>
            </div>
            <ul>
              <li>Worked across multiple teams and projects to deliver high quality architectural solutions to clients requirements.</li>
              <li>Consistently worked to tight deadlines, maintaining a high standard of technical drawings as well as artistic renders.</li>
              <li>Integrated elements of computational design within architectural projects, allowing for flexible and bespoke design solutions based on local parameters.</li>
            </ul>
          </div>

          <div class="experience-card">
            <div class="experience-header">
              <div>
                <h3><a class="underline primary" href="https://farrells.com/" target="_blank">Farrells <span><h5 style="display: inline-block"> _ Part 1 Architectural Assistant</h5></span></a></h3>
              </div>
              <h6>Jul 2019 - Sep 2019</h6>
            </div>
            <ul>
              <li>Contributed to a large scale residential project, building digital 3D models to specifications of proposed designs.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="education-container primary-border">
        <div class="education-title">
        <h2>EDUCATION</h2>
        <h5 id="education-toggle" class="underline">Show All</h5>
        </div>
        <div class="all-education hidden">
          <div class="education-card">
            <div class="education-header">
              <div>
                <h3><a class="underline primary" href="https://www.lewagon.com/web-development-course" target="_blank">Le Wagon <span><h5 style="display: inline-block"> _ Full Stack Web Development Bootcamp</h5></span></a></h3>
              </div>
              <h6>Apr 2023 - Jun 2023</h6>
            </div>
            <ul>
              <li>9 week full-time BCS Tech 10 accredited bootcamp learning Ruby, Rails, JavaScript ES6, Stimulus, Mustache.js, Object Oriented Programming, CSS, HTML, Figma, Heroku, git, GitHub and SQL.</li>
            </ul>
          </div>

          <div class="education-card">
            <div class="education-header">
              <div>
                <h3><a class="underline primary" href="https://pll.harvard.edu/course/cs50-introduction-computer-science" target="_blank">Harvard University <span><h5 style="display: inline-block"> _ CS50x</h5></span></a></h3>
              </div>
              <h6>Sep 2022 - Nov 2022</h6>
            </div>
            <ul>
              <li>Entry level course covering topics of abstraction, algorithms, data structure, resource management, security, software engineering and web development.</li>
            </ul>
          </div>

          <div class="education-card">
            <div class="education-header">
              <div>
                <h3><a class="underline primary" href="https://www.brookes.ac.uk/apprenticeships/apprenticeships-on-offer/architect-degree-apprenticeship" target="_blank">Oxford Brookes University <span><h5 style="display: inline-block"> _ Architecture MArch (Merit)</h5></span></a></h3>
              </div>
              <h6>Sep 2019 - Jul 2022</h6>
            </div>
            <ul>
              <li>Part 2 architectural qualifications. Final design project and thesis examined how computational design can be used to enhance the use of reclaimed and recycled materials within the construction industry, with a focus on timber.</li>
            </ul>
          </div>

          <div class="education-card">
            <div class="education-header">
              <div>
                <h3><a class="underline primary" href="https://www.brookes.ac.uk/courses/undergraduate/architecture" target="_blank">Oxford Brookes University <span><h5 style="display: inline-block"> _ Architecture BArch (1st Class Honours)</h5></span></a></h3>
              </div>
              <h6>Sep 2015 - Jun 2019</h6>
            </div>
            <ul>
              <li>Part 1 architectural qualifications. Final project focused on designing a physical storefront of an online-only bank, while thesis proposed alternative and more sustainable means of concrete production for the construction industry.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="return underline">Return to Top</p>
  </div>
</div>
